.leakage-plenum {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  background: white;
  .title {
    margin-bottom: 30px;
    font-weight: 400;
  }
  .pc-grid-item {
    display: flex;
    &:last-of-type label {
      border-bottom: 1px solid #ccc;
    }
    label {
      flex: 1;
      padding: 15px;
      border-left: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
    &:last-of-type input {
      border-bottom: 1px solid #ccc;
    }
    input {
      flex: 4;
      padding: 15px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: none;
    }
  }
  .criterium-title {
      font-size: 18px;
      margin-bottom: 15px;
      display: block;
  }
  .criterium-line:first-of-type {
      margin-bottom: 0px;
  }
  .criterium-line {
      margin-bottom: 30px;
  }
}