<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="leakage-plenum">
          <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
          <h2 class="title">Plenum lektest</h2>
          <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
            <div class="input-group" *ngFor="let property of formStructure.properties">
              <div *ngIf="property.type === 'number'" class="mb-15 mt-15">
                <label [for]="property.property">{{ property.name }}</label>
                <input type="number" [name]="property.property" [(ngModel)]="this.orderline.leakage_plenums[0][property.property]" [step]="property.step">
              </div>
              <div *ngIf="property.type === 'text'" class="mb-15 mt-15">
                <label [for]="property.property">{{ property.name }}</label>
                <input type="text" [name]="property.property" [(ngModel)]="this.orderline.leakage_plenums[0][property.property]" [step]="property.step">
              </div>
            </div>
            <div class="criterium-title">Criteria</div>
            <div class="criterium-line">Concentratie bij naden &le; concentratie achtergrond <br>
            {{ this.orderline.leakage_plenums[0].concentration_seam_max ? this.orderline.leakage_plenums[0].concentration_seam_max : 0 }} &le; {{ this.orderline.leakage_plenums[0].concentration_background ? this.orderline.leakage_plenums[0].concentration_background : 0 }}</div>
            <div>
              <button type="submit" class="btn--default submit">Versturen</button>
            </div>
          </form>
        </div>
    </div>
</ion-content>