<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="leakage-hepa">
          <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
          <h2 class="title">Hepa lektest</h2>
          <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
            <div *ngIf="formStructure.measurement_type === 'Particle Count'; else aerosolBlock">
              <h3 class="title">Deeltjestelling downflow</h3>
              <div class="pc-grid">
                <div class="pc-grid-item" *ngFor="let property of formStructure.particle_count.downflow; index as i;">
                  <label>{{ property.name }}</label>
                  <input [(ngModel)]="this.orderline.leakage_hepas[0][property.property]" class="table-input" type="text" [type]="property.type" [name]="property.property" [step]="property.step" (input)="getHighestDownflow(this.orderline.leakage_hepas[0][property.property], i)">
                </div>
              </div>
              <div class="criteria-line mt-15">
                  Hoogst gemete waarde &le; Maximaal toegestaan <br>
                  {{ heighestDownflowValue }} &le; {{ orderline.protocol_criteria[0].df_particles_max }}</div>
              <div class="input-group" *ngFor="let property of formStructure.particle_count.exaust; index as i;">
                <h3 class="title mt-30">Deeltjestelling Uitstoot</h3>
                <div *ngIf="property.type === 'number'" class="mb-30">
                  <label [for]="property.property">{{ property.name }}</label>
                  <input type="number" [name]="property.property" [(ngModel)]="this.orderline.leakage_hepas[0][property.property]" [step]="property.step">
                </div>
                <div class="criteria-line mt-15">Hoogst gemete waarde &le; Maximaal toegestaan<br>{{ this.orderline.leakage_hepas[0][property.property] }} &le; {{ orderline.protocol_criteria[0].df_particles_max }}</div>
              </div>
            </div>
            <ng-template #aerosolBlock>
              <h3 class="title">Aerosol</h3>
              <div class="input-group" *ngFor="let property of formStructure.aerosol">
                <div *ngIf="property.type === 'list'">
                  <label [for]="property.property">{{ property.name }}</label>
                  <select [(ngModel)]="orderline.leakage_hepas[0][property.property]" [name]="property.property">
                    <option value="N/A">N.V.T.</option>
                    <option value="Ok">Oke</option>
                    <option value="See note">Zie opmerking</option>
                  </select>
                </div>
                <div class="mb-15 mt-15" *ngIf="property.type === 'number'">
                  <label [for]="property.property">{{ property.name }}</label>
                  <input type="number" [name]="property.property" [(ngModel)]="this.orderline.leakage_hepas[0][property.property]" [step]="property.step">
                </div>
                <div class="criteria" *ngIf="property.type === 'number'">
                  {{ this.orderline.leakage_hepas[0][property.property] ? this.orderline.leakage_hepas[0][property.property] : 0 }} &le; {{ this.orderline.protocol_criteria[0][property.property + '_max'] }}
                </div>
              </div>
            </ng-template>
            <h3 class="title mt-30">Filter druk</h3>
            <div class="input-group" *ngFor="let property of formStructure.pressure">
              <div *ngIf="property.type === 'number'" class="mb-15 mt-15">
                <label [for]="property.property">{{ property.name }}</label>
                <input type="number" [name]="property.property" [(ngModel)]="this.orderline.leakage_hepas[0][property.property]" [step]="property.step">
              </div>
            </div>
            <div>
              <button type="submit" class="btn--default submit">Versturen</button>
            </div>
          </form>
        </div>
    </div>
</ion-content>