<div class="container">
    <div class="page-title">{{ pageTitle }}</div>
    <button *ngIf="extraMenuItem === 'ordersPage'" class="orders-button" (click)="navToOrdersPage()">
        Orders
    </button>
    <button *ngIf="extraMenuItem === 'reload'" class="reload-button" (click)="reload()">
        Reload
    </button>
    <button class="logout-button" (click)="logout()">
        Uitloggen
    </button>
</div>

<div class="loading-spinner-wrapper" *ngIf="headerServiceProvider.loading">
    <div class="spinner-wrapper">
        Moment geduld...
        <ion-spinner></ion-spinner>
    </div>
</div>