layout-header {
  width: 100%;
  display: block;
}
.orderflow-header {
  background: $primary-color;
  &:after {
    content: none;
  }
  border: none;
  .logout-button {
  	border: 1px solid #FFFFFF;
    float: right;
    background: none;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    font-size: 15px;
    font-weight: bold;
  }
  .reload-button {
  	border: 1px solid #FFFFFF;
    float: right;
    background: none;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
  }
  .orders-button {
  	border: 1px solid #FFFFFF;
    float: right;
    background: none;
    color: white;
    padding: 10px 15px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  .page-title {
    color: white;
    flex: 1;
    align-self: center;
    font-weight: bold;
    font-size: 15px;
  }
}