.components-check {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  background: white;
  .btn--default {
      margin-bottom: 45px;
      &.submit {
        margin-top: 30px;
      }
  }
  .component-form {
    .input-group {
      label {
        width: 100%;
        display: block;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      input {
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }
  .title {
      font-size: 18px;
      margin-bottom: 30px;
  }
} 