<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="components-check">
          <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
          <div class="title">Componenten</div>
          <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
            <div class="input-group" *ngFor="let property of formStructure.properties">
              <span *ngIf="property.type === 'list'">
                <label [for]="property.property">{{ property.name }}</label>
                <select [(ngModel)]="orderline.component_controls[0][property.property]" [name]="property.property">
                  <option value="N/A">N.V.T.</option>
                  <option value="Ok">Oke</option>
                  <option value="See note">Zie opmerking</option>
                </select>
              </span>
              <span *ngIf="property.type === 'number'">
                <label [for]="property.property">{{ property.name }}</label>
                <input type="number" [name]="property.property" [(ngModel)]="orderline.component_controls[0][property.property]" [step]="property.step">
              </span>
            </div>
            <div>
              <button type="submit" class="btn--default submit">Versturen</button>
            </div>
          </form>
        </div>
    </div>
</ion-content>