<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
      <div class="components-check">
        <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
        <div class="title">Componenten</div>
        <div class="filter mb-30">
          <table>
            <tr>
              <th>Filter</th>
              <th>Type</th>
              <th>L</th>
              <th>B</th>
              <th>H</th>
            </tr>
            <tr *ngFor="let filter of filters">
              <td>{{ filter.component }}</td>
              <td>{{ filter.component_product_kind }}</td>
              <td>{{ filter.length }}</td>
              <td>{{ filter.width }}</td>
              <td>{{ filter.height }}</td>
            </tr>
          </table>
        </div>
        <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
        <div class="input-group" *ngFor="let property of formStructure.properties">
          <span *ngIf="property.type === 'drainConnectionList'">
            <label [for]="property.property">{{ property.name }}</label>
            <select [(ngModel)]="orderline.general_measurements[0][property.property]" [name]="property.property">
              <option value="N/A">N.V.T.</option>
              <option value="Fixed connection">Vaste aansluiting</option>
              <option value="Draught diverter">Trekonderbreker</option>
            </select>
          </span>
          <span *ngIf="property.type === 'list'">
            <label [for]="property.property">{{ property.name }}</label>
            <select [(ngModel)]="orderline.general_measurements[0][property.property]" [name]="property.property">
              <option value="N/A">N.V.T.</option>
              <option value="Ok">Oke</option>
              <option value="See note">Zie opmerking</option>
            </select>
          </span>
          <span *ngIf="property.type === 'prefilterList'">
            <label [for]="property.property">{{ property.name }}</label>
            <select [(ngModel)]="orderline.general_measurements[0][property.property]" [name]="property.property">
              <option value="Yes">Ja</option>
              <option value="No">Nee</option>
              <option value="See note">Zie opmerking</option>
            </select>
          </span>
          <span *ngIf="property.type === 'number'">
            <label [for]="property.property">{{ property.name }}</label>
            <input type="number" [name]="property.property" [(ngModel)]="orderline.general_measurements[0][property.property]" [step]="property.step">
          </span>
        </div>
        <div>
          <button type="submit" class="btn--default submit">Versturen</button>
        </div>
        </form>
      </div>
    </div>
</ion-content>
