.form-nav-wrapper {
    background: white;
    width: 100%;
    margin-top: 30px;
    padding: 30px 0px;
    .nav-buttons {
        width: 320px;
        margin: 0 auto;
        .btn--default {
            margin-bottom: 15px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}