<ion-header class="orderflow-header">
    <layout-header [pageTitle]="order.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="components-check">
          <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
          <div class="title">Opmerkingen</div>
          <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
            <div class="input-group">
              <textarea name="comment" [(ngModel)]="order.communication_logs[0].comment" cols="30" rows="10"></textarea>
            </div>
            <div>
              <button type="submit" class="btn--default submit">Versturen</button>
            </div>
          </form>
        </div>
    </div>
</ion-content>