<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="workspace-classification">
          <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
          <h2 class="title">Classificatie werkruimte</h2>
          <form class="component-form"  #componentForm="ngForm" (ngSubmit)="submitFormHandler(componentForm.value)">
            <div class="input-group">
              <label for="sample_volume_counter_list">Sample volume counter</label>
              <div class="input-label mt-15"><input class="mr-15" type="radio" [(ngModel)]="orderline.classification_workspaces[0].sample_volume_counter_list" [checked]="orderline.classification_workspaces[0].sample_volume_counter_list==='50.00'" name="sample_volume_counter_list" value="50.00" (change)="changeSampleCount(20)"> 50 liter</div>
              <div class="input-label mt-15 mb-15"><input class="mr-15" type="radio" [(ngModel)]="orderline.classification_workspaces[0].sample_volume_counter_list" [checked]="orderline.classification_workspaces[0].sample_volume_counter_list==='28.30'" name="sample_volume_counter_list" value="28.30" (change)="changeSampleCount(35.3)"> 28,3 liter</div>
            </div>
            <h2>Deeltjes 0,5&#x00B5;m</h2>
            <div class="input-group mt-15 mb-15">
              <label for="left_05" class="mr-15">Links</label>
              <input type="number" name="left_05" [(ngModel)]="left_05" (input)="calcSample('left_05')">
            </div>
            <div class="mb-15 mt-15">
              Berekend {{ left_05_calculated }} &le; max {{ orderline.protocol_criteria[0].ws_particles_05_max }}
            </div>
            <div class="input-group mt-15 mb-15">
              <label for="right_05" class="mr-15">Rechts</label>
              <input type="number" name="right_05" [(ngModel)]="right_05" (input)="calcSample('right_05')">
            </div>
            <div class="mb-15 mt-15">
              Berekend {{ right_05_calculated }} &le; max {{ orderline.protocol_criteria[0].ws_particles_05_max }}
            </div>
            <h2>Deeltjes 0,3&#x00B5;m</h2>
            <div class="input-group mt-30 mb-15">
              <label for="left_03" class="mr-15">Links</label>
              <input type="number" name="left_03" [(ngModel)]="left_03" (input)="calcSample('left_03')">
            </div>
            <div class="mb-15 mt-15">
              Berekend {{ left_03_calculated }} &le; max {{ orderline.protocol_criteria[0].ws_particles_03_max }}
            </div>
            <div class="input-group mt-15 mb-15">
              <label for="right_03" class="mr-15">Rechts</label>
              <input type="number" name="right_03" [(ngModel)]="right_03" (input)="calcSample('right_03')">
            </div>
            <div class="mb-15 mt-15">
              Berekend {{ right_03_calculated }} &le; max {{ orderline.protocol_criteria[0].ws_particles_03_max }}
            </div>
            <div>
              <button type="submit" class="btn--default submit">Versturen</button>
            </div>
          </form>
        </div>
    </div>
</ion-content>