<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="air-inflow-wrapper">
            <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
            <div class="measurements-done" *ngIf="orderline.airspeed_inflows.length > 0">
                <h2 class="title">Vorige inflow metingen</h2>
                <div *ngFor="let measurement of orderline.airspeed_inflows">
                    <div class="measurement-block">
                        <div class="measurement-number">Meting: {{ measurement.measurement_number }}</div>
                        <div class="measurement-done-grid">
                            <div class="row">
                                <div class="col"><span class="property-name">A</span></div>
                                <div class="col">{{ measurement.a1 }}</div>
                                <div class="col">{{ measurement.a2 }}</div>
                                <div class="col">{{ measurement.a3 }}</div>
                            </div>
                            <div class="row">
                                <div class="col"><span class="property-name">B</span></div>
                                <div class="col"> {{ measurement.b1 }}</div>
                                <div class="col"> {{ measurement.b2 }}</div>
                                <div class="col"> {{ measurement.b3 }}</div>
                            </div>
                            <div class="row">
                                <div class="col"><span class="property-name">C</span></div>
                                <div class="col"> {{ measurement.c1 }}</div>
                                <div class="col"> {{ measurement.c2 }}</div>
                                <div class="col"> {{ measurement.c3 }}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>Rooktest: {{ measurement.smoke_test }}</div>
                        <div>Gemiddelde: {{ measurement.mean_value }}</div>
                    </div>
                </div>
            </div>
            <form *ngIf="measurement_possible" class="air-inflow-form"  #airInflowForm="ngForm" (ngSubmit)="submitFormHandler(airInflowForm.value)">
                <h2 class="title">Inflow luchtsnelheid in m/s</h2>
                <div class="form-group" *ngFor="let input of formStructure.grid; index as i;" class="grid-input">
                    <label>{{ input.property }}</label>
                    <input [(ngModel)]="value[i]" type="text" [type]="input.type" [name]="input.property" [step]="input.step" (input)="calcAverage(this.value)">
                </div>
                <div class="average-inflow-speed" *ngIf="measurement_possible">
                    <label class="average-label">Gemiddelde luchtsnelheid</label>
                    <div class="average-value">{{ avgFlowSpeed }} m/s</div>
                    <div class="criterium-title">Criteria</div>
                    <div class="criterium-line">{{ avgFlowSpeed }} m/s &ge; {{ orderline.protocol_criteria[0].inf_airspeed_min }} m/s</div>
                </div>
                <div class="title">Rooktest</div>
                <div class="form-group">
                    <select ngModel name="smoke_test">
                        <option value="N/A">N.V.T.</option>
                        <option value="Ok">Goed</option>
                        <option value="See note">Zie opmerking</option>
                    </select>
                </div>
                <button type="submit" class="btn--default submit">Versturen</button>
            </form>
        </div>
    </div>
</ion-content>