.air-inflow-wrapper {
    background: #fff;
    padding: 30px 15px;
    width: 100%;
    margin-top: 30px;
    .measurements-done {
        .measurement-block {
            margin: 30px 0 30px 0;
            display: flex;
            .measurement-number {
                flex: 1;
            }
            .measurement-done-grid {
                flex: 4;
                .row {
                    border-top: 1px solid #ccc;
                    &:last-of-type {
                        border-bottom: 1px solid #ccc;
                    }
                    .col {
                        border-left: 1px solid #ccc;
                        padding: 15px;
                        &:last-of-type{ 
                            border-right: 1px solid #ccc;
                        }
                        .property-name {
                            font-weight: bolder;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .btn--default {
        margin-bottom: 45px;
        &.submit {
          margin-top: 30px;
        }
    }
    .title {
        font-size: 18px;
    }
    .air-inflow-form {
        .grid-input {
            display: flex;
            &:first-of-type label {
                border-top: 1px solid #ccc;
            }
            &:first-of-type input {
                border-top: 1px solid #ccc;
            }
            label {
                flex: 1;
                padding: 15px;
                border-left: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
            input {
                flex: 4;
                padding: 15px;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                border-top: none;
            }
        }
    }
    .average-inflow-speed {
        margin-top: 30px;
        .average-label {
            font-size: 18px;
            margin-bottom: 15px;
            display: block;
        }
        .average-value {
            margin-bottom: 30px;
        }
        .criterium-title {
            font-size: 18px;
            margin-bottom: 15px;
            display: block;
        }
        .criterium-line:first-of-type {
            margin-bottom: 0px;
        }
        .criterium-line {
            margin-bottom: 30px;
        }
    }
}