<ion-header class="orderflow-header">
    <layout-header [pageTitle]="pageTitle"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="orderline-list-wrapper">
            <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Orders</button>
            <button class="ml-15 btn--default pull-right" *ngIf="order.status === 'Assigned'" (click)="startOrder(order.id)">Start order</button>
            <button class="btn--default pull-right" (click)="openSignatureModel()">Sluit order</button>
            <button class="btn--default pull-right mr-15" (click)="openOrderComment()">Opmerkingen</button>
            <div class="order-info-wrapper">
                <div class="info-label">
                    Klantnaam:
                </div>
                <div class="info-value">
                    {{ order.customer.company_name }}
                </div>
            </div>
            <div class="order-info-wrapper">
                <div class="info-label">
                    Adres:
                </div>
                <div class="info-value">
                    {{ order.customer.full_address }}
                </div>
            </div>
            <div class="order-info-wrapper">
                <div class="info-label">
                    Ordernummer:
                </div>
                <div class="info-value">
                    {{ order.order_number }}
                </div>
            </div>
            <div class="order-info-wrapper">
                <div class="info-label">
                    Omschrijving:
                </div>
                <div class="info-value">
                    {{ order.description | convertCharCode }}
                </div>
            </div>
            <div class="order-info-wrapper mb">
                <div class="info-label">
                    Status:
                </div>
                <div class="info-value">
                    {{ order.status }}
                </div>
            </div>
            <div class="orderline-list">
                <h2 class="title" *ngIf="orderlines.length > 0">Activiteiten</h2>
                <div class="orderline-item" *ngFor="let orderline of orderlines">
                    <div class="orderline-name">
                        <div class="vertical-center">{{ orderline.assignee.full_name }}</div>
                        <div class="vertical-center" *ngIf="orderline.service_type === 'Validation'"><span>{{ orderline.service_article.article_number }} - {{ orderline.service_article.description }}</span></div>
                        <div class="service-type vertical-center">{{ orderline.service_type }} - {{ orderline.status }}</div>
                    </div>
                    <button class="select-button" [disabled]="orderline.service_type === 'Maintenance'" (click)="selectOrderline(orderline, order)">Selecteren</button>
                </div>
                <h2 *ngIf="completed_orderlines.length > 0" class="title">Voltooide activiteiten</h2>
                <div class="orderline-item" *ngFor="let complete_orderline of completed_orderlines">
                    <div class="orderline-name">
                        <div class="vertical-center">{{ complete_orderline.assignee.full_name }}</div>
                        <div class="vertical-center" *ngIf="complete_orderline.service_type === 'Validation'"><span>{{ complete_orderline.service_article.article_number }} - {{ complete_orderline.service_article.description }}</span></div>
                        <div class="service-type vertical-center">{{ complete_orderline.service_type }}</div>
                    </div>
                    <button class="select-button" disabled="true">Selecteren</button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
