.orderline-list-wrapper {
    padding: 15px;
    background: white;
    margin: 0 auto;
    max-width: 768px;
    list-style: none;
    flex: 1;
    margin-top: 30px;
    .order-info-wrapper {
        margin-top: 20px;
        font-size: 15px;
        &:first-of-type {
            margin-top: 45px;
        }
        &.mb {
            margin-bottom: 45px;
        }
        .info-label {
            font-weight: 400;
            display: inline-block;
            min-width: 130px;
        }
        .info-value {
            display: inline-block;
        }
    }
    .orderline-list {
        .title {
            margin-bottom: 30px;
            font-weight: 400;
        }
        .orderline-item {
            display: flex;
            margin-bottom: 30px;
            .orderline-name {
                border-bottom: 1px solid #B6B6B6;
                flex: 1 0;
                display: flex;
                justify-content: space-between;
                .vertical-center  {
                    align-self: center;
                }
                .service-type {
                    margin-right: 15px;
                }
            }
            .select-button {
                padding: 13px 15px;
                background: #10069F;
                font-size: 15px;
                font-weight: bold;
                color: #fff;
                flex: 0 1;
            }
        }
    }
}