<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="air-downflow-wrapper">
            <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
            <div class="measurements-done" *ngIf="orderline.airspeed_downflows.length > 0">
                <div class="title">Vorige downflow metingen</div>
                <div class="measurement-block" *ngFor="let measurement of orderline.airspeed_downflows">
                    <div class="measurement-number">Meting: {{ measurement.measurement_number }}</div>
                    <div class="measurement-done-grid">
                        <div class="row">
                            <div class="col"><span class="property-name">A</span></div>
                            <div class="col">{{ measurement.a1 }}</div>
                            <div class="col">{{ measurement.a2 }}</div>
                            <div class="col">{{ measurement.a3 }}</div>
                            <div class="col">{{ measurement.a4 }}</div>
                            <div class="col">{{ measurement.a5 }}</div>
                            <div class="col">{{ measurement.a6 }}</div>
                        </div>
                        <div class="row">
                            <div class="col"><span class="property-name">B</span></div>
                            <div class="col"> {{ measurement.b1 }}</div>
                            <div class="col"> {{ measurement.b2 }}</div>
                            <div class="col"> {{ measurement.b3 }}</div>
                            <div class="col"> {{ measurement.b4 }}</div>
                            <div class="col"> {{ measurement.b5 }}</div>
                            <div class="col"> {{ measurement.b6 }}</div>
                        </div>
                        <div class="row">
                            <div>Gemiddelde: {{ measurement.mean_value }} <br> Gemiddelde standby: {{ measurement.mean_value_standby }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <form *ngIf="measurement_possible" class="air-downflow-form"  #airDownflowForm="ngForm" (ngSubmit)="submitFormHandler(airDownflowForm.value)">
                <div class="title">Downflow luchtsnelheid in m/s</div>
                <div>
                    <div class="form-group" *ngFor="let input of formStructure.grid; index as i;" [class]="grid-input">
                        <label>{{ input.property }}</label>
                        <input [(ngModel)]="value[i]" type="text" [type]="input.type" [name]="input.property" [step]="input.step" (input)="calcAverage(this.value)">
                    </div>
                </div>
                <div class="average-downflow-speed" *ngIf="measurement_possible">
                    <label class="average-label">Gemiddelde luchtsnelheid (Werkstand)</label>
                    <div class="average-value">{{ avgFlowSpeed }} m/s</div>
                    <label class="average-label">Gemiddelde luchtsnelheid (Standby)</label>
                    <input type="number" name="average_standby_speed" class="mb-15" [(ngModel)]="averageStandbySpeed" step="0.01">
                    <div class="criterium-title">Criteria</div>
                    <div class="criterium-line"><b class="semi-bold">Werkstand:</b> {{orderline.protocol_criteria[0].df_airspeed_max}} m/s &le; <b class="semi-bold">{{ avgFlowSpeed }} m/s</b> &ge; {{orderline.protocol_criteria[0].df_airspeed_min}} m/s</div>
                    <div class="criterium-line">Min individuele waarde {{ minInvVal }}</div>
                    <div class="criterium-line">Max individuele waarde {{ maxInvVal }}</div>
                    <div class="criterium-line"><b class="semi-bold">Standby:</b> {{orderline.protocol_criteria[0].df_airspeed_standby_max}} m/s &le; <b class="semi-bold">{{ averageStandbySpeed }} m/s</b> &ge; {{orderline.protocol_criteria[0].df_airspeed_standby_min}} m/s</div>
                </div>
                <button type="submit" class="btn--default submit">Versturen</button>
            </form>
        </div>
    </div>
</ion-content>