<ion-header class="orderflow-header">
    <layout-header [pageTitle]="pageTitle" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="equipment-wrapper">
            <button class="btn--default" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
            <div class="equipment-list-wrapper">
                <h2 class="title">Meetapparatuur</h2>
                <form *ngIf="checks" #equipmentSelectForm="ngForm" (ngSubmit)="selectEquipment(equipmentSelectForm.value)">
                    <div class="equipment-item" *ngFor="let equipment_item of checks" [ngClass]="{'expired': equipment_item.calibration_status == 'Exceeded' }">
                        <div class="equipment-name">{{ equipment_item.instrument }} - {{ equipment_item.serial_number }}</div>
                        <div class="select-wrapper" >
                            <div class="expired-label" *ngIf="equipment_item.calibration_status == 'Exceeded'">Verlopen</div>
                            <div class="expiration-date">Verval datum: {{ equipment_item.next_calibration_date | date:'d-M-y' }}</div>
                            <input class="equipment-select vertical-center" [(ngModel)]="equipment_item.checked" type="checkbox" [disabled]="equipment_item.calibration_status == 'Exceeded'" [value]="equipment_item.instrument" [name]="equipment_item.id" [checked]="equipment_item.checked">
                        </div>
                    </div>
                    <button type="submit" class="submit-equipment btn--default">Bevestigen</button>
                </form>
            </div>
        </div>
    </div>
</ion-content>
