.equipment-wrapper {
    padding: 15px;
    background: white;
    margin: 0 auto;
    max-width: 768px;
    list-style: none;
    flex: 1;
    margin-top: 30px;
    .equipment-list-wrapper {
        .submit-equipment {
            float: right;
        }
        .title {
            margin-bottom: 30px;
            font-weight: 400;
        }
        .equipment-item {
            display: flex;
            margin-bottom: 30px;
            justify-content: space-between;
            padding: 15px 0;
            border-bottom: 1px solid #B6B6B6;
            .equipment-name {
                flex: 1 0;
                display: flex;
                align-self: center;
            }
            .vertical-center  {
                align-self: center;
            }
            .select-wrapper {
                display: flex;
                .expired-label {
                    margin-right: 55px;
                    color: #878787;
                    font-weight: bold;
                }
                .expiration-date {
                    display: inline-block;
                    margin-right: 30px;
                }
                .equipment-select {
                    -webkit-appearance: none;
                    -moz-appearance: none;  
                    border: 2px solid #818181;
                    padding: 7px;
                    border-radius: 3px;
                    display: inline-block;
                    position: relative;
                    transition: all .2s;
                    &:after {
                        content: ' ';
                        width: 14px;
                        height: 14px;
                        border: 2px solid #10069F;
                        border-radius: 3px;
                        position: absolute;
                        top: -2px;
                        background: #10069F;
                        text-shadow: 0px;
                        left: -2px;
                        transition: opacity .2s;
                        opacity: 0;
                    }
                    &:checked:after {
                        opacity: 1;
                    }
                }
            }
            &.expired {
                color: #999;
            }
        }
    }
}