.user-order-wrapper {
    padding: 15px;
    background: white;
    margin: 0 auto;
    max-width: 768px;
    list-style: none;
    flex: 1;
    margin-top: 30px;
    .offline-changes-message {
        background: #ffe1e1;
        color: #333;
        padding: 15px;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
    }
    .network-status {
        display: block;
        padding: 15px;
        border: #009EDF 1px solid;
        margin-bottom: 15px;
    }
    .user-order {
        display: flex;
        margin-bottom: 30px;
        .order-name {
            border-bottom: 1px solid #B6B6B6;
            flex: 1 0;
            display: flex;
            .vertical-center  {
                align-self: center;
            }
        }
        .select-button {
            padding: 13px 15px;
            background: #10069F;
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            flex: 0 1;
        }
    }
    ion-spinner.horizontal-center {
        text-align: center;
        width: 100%;
    }
}