<ion-header class="orderflow-header">
    <layout-header [pageTitle]="pageTitle" [extraMenuItem]="'reload'"></layout-header>
</ion-header>

<ion-content>
    <div class="container" *ngIf="orderloading">
        <div class="user-order-wrapper">
            <div class="network-status" *ngIf="headerServiceProvider.offline"><b>Netwerk status:</b> Offline</div>
            <div class="network-status" *ngIf="!headerServiceProvider.offline"><b>Netwerk status:</b> Online</div>
        </div>
    </div>
    <div class="container" *ngIf="orderloading">
        <div class="user-order-wrapper">
            <ion-spinner class="horizontal-center"></ion-spinner>
        </div>
    </div>
    <div class="container" *ngIf="!orderloading">
        <div class="user-order-wrapper">
            <div class="network-status" *ngIf="headerServiceProvider.offline"><b>Netwerk status:</b> Offline</div>
            
            <div class="network-status" *ngIf="!headerServiceProvider.offline"><b>Netwerk status:</b> Online</div>
            <p *ngIf="offlineChanges && headerServiceProvider.offline" class="offline-changes-message"><b>Let op!</b> Er zijn offline veranderen gedaan.</p>
            <p *ngIf="!headerServiceProvider.offline && offlineChanges" class="offline-changes-message"><b>Let op!</b> Er zijn offline veranderen gedaan. Wat wil je met deze veranderingen doen?</p>
            <button class="btn--default btn--block mb-15" *ngIf="!headerServiceProvider.offline && offlineChanges" (click)="pullOrders()">Lokale gegevens overschrijven</button>
            <button class="btn--default btn--block mb-15" *ngIf="!headerServiceProvider.offline && offlineChanges" (click)="pushOrders()">Lokale veranderingen versturen naar de backoffice (bestaande gegevens worden in de backoffice overschreven)</button>
        </div>
    </div>
    <div class="container" *ngIf="!orderloading">
        <div class="user-order-wrapper">
            <div class="user-order" *ngFor="let order of orders">
                <div class="order-name">
                    <div class="vertical-center">
                        {{ order.order_number }}
                        {{ order.customer.company_name }}
                    </div>
                </div>
                <button class="select-button" (click)="openOrder(order.id)">Selecteren</button>
            </div>
            <h1 *ngIf="completed_orders !== null && completed_orders !== undefined" >Voltooide orders</h1>
            <div class="user-order" *ngFor="let order of completed_orders">
                <div class="order-name">
                    <div class="vertical-center">
                        {{ order.order_number }}
                        {{ order.customer.company_name }}
                    </div>
                </div>
                <button class="select-button" disabled (click)="openOrder(order.id)">Selecteren</button>
            </div>
        </div>
    </div>
</ion-content>