// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
  box-sizing: border-box;
}

$primary-color: #10069F;

.content-md {
  background: #EFEFEF;
}

.ml-15 {
  margin-left: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-15 {
  margin-right: 15px;
}

ion-app.md {
    background: #EFEFEF;
}

.pull-right {
  float: right;
}

h2.title {
  margin-bottom: 30px;
  font-weight: 400;
}

.container {
  max-width: 768px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  font-weight: 200;
}

.login-wrapper {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
.login-left-half {
  width: 50%;
  background-color: $primary-color;
  float: left;
  height: 100%;
  position: relative;
  img.logo {
    display: block;
    top: calc(50% - 90px);
    position: absolute;
    left: calc(50% - 150px);
  }
}
.login-right-half {
  width: 50%;
  background-color: #fff;
  float: left;
  text-align: center;
  .icon {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  form {
    display: block;
    margin: 0 auto;
    max-width: 315px;
  }
  .forgot-password {
    margin: 30px 0;
  }
}
.link--default {
  text-decoration: none;
  color: $primary-color;
}
.link--block {
  display: block;
}
.input--default {
  width: 100%;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #979797;
  padding: 15px 0;
  display: block;
}
.input--login {
  max-width: 315px;

}
label {
  font-weight: 400;
  font-size: 15px;
  display: block;
}
input[type="text"]:not(.input--login), input[type="number"]:not(.input--login) {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #10069F;
}
select {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  height: 40px;
  border: 1px solid #10069F;
  border-radius: 0;
  background: none;
}
table {
  width: 100%;
  tr {
    border-bottom: 1px solid #979797;
    th {
      text-align: left;
      padding-bottom: 10px;
      font-weight: bolder;
    }
    td {
      padding: 15px 0;
    }
  }
}
textarea {
  width: 100%;
  border: 1px solid #049cdd;
}
.btn--default {
  background-color: $primary-color;
  padding: 13px 15px;
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  ion-icon {
    position: relative;
    top: 2px;
    margin-right: 8px;
  }
  &.btn--green {
    background: #d4d747;
    color: #10069F;
  }
  &.btn--gray {
    background: #bbb;
  }
}
.mb-15 {
  margin-bottom: 15px;
}
b.semi-bold {
  font-weight: 400;
}
.btn--block {
  width: 100%;
  display: block;
}

.online-alert {
  background: #ffe1e1;
  color: #333;
  padding: 15px;
  display: block;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}