.form-nav-info-wrapper {
    margin-top: 20px;
    font-size: 15px;
    padding-left: 15px;
    &.mb {
        margin-bottom: 45px;
    }
    .info-label {
        font-weight: 400;
        display: inline-block;
        min-width: 130px;
    }
    .info-value {
        display: inline-block;
    }
}
.form-nav-wrapper {
    background: white;
    width: 100%;
    margin-top: 30px;
    padding: 30px 0px;
    .nav-buttons {
        margin: 0 auto;
        width: 100%;
        button {
            width: calc(50% - 30px);
            margin: 15px;
            float: left;
            height: 45px;
        }
    }
}