<ion-header class="orderflow-header">
    <layout-header [pageTitle]="orderline.description" [extraMenuItem]="'ordersPage'"></layout-header>
</ion-header>

<ion-content>
    <div class="container">
        <div class="form-nav-wrapper">
            <div class="form-nav-info-wrapper">
                <div class="info-label">
                    Order:
                </div>
                <div class="info-value">
                    {{ order.order_number }}
                </div>
            </div>
            <div class="form-nav-info-wrapper">
                <div class="info-label">
                    Type:
                </div>
                <div class="info-value">
                    {{ orderline.service_type }}
                </div>
            </div>
            <div class="form-nav-info-wrapper">
                <div class="info-label">
                    Protocol:
                </div>
                <div class="info-value">
                    <div>{{ orderline.protocol.code }}</div>
                </div>
            </div>
            <div class="form-nav-info-wrapper">
                <div class="info-label" >
                    Omschrijving:
                </div>
                <div class="info-value" >
                    {{ orderline.description }}
                </div>
            </div>
            <div class="form-nav-info-wrapper mb">
                <div class="info-label">
                    SA omschrijving:
                </div>
                <div class="info-value">
                    {{ orderline.service_article.description }}
                </div>
            </div>
            <div class="nav-buttons">
                <button class="btn--default btn--block btn--gray" (click)="navBack()"><ion-icon name="ios-arrow-back"></ion-icon>Terug</button>
                <button class="btn--default btn--block" *ngIf="showEquipment" (click)="navigateToEquipment()">Meetapparatuur</button>
                <button class="btn--default btn--block" (click)="navigateToGeneral()">Algemeen</button>
                <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_workspace" (click)="navigateToWorkspace()">Werkruimte classificatie</button>
                <button class="btn--default btn--block" *ngIf="orderline.protocol.check_components" (click)="navigateToFormComponentsPage()">Component controle</button>
                <ng-container *ngIf="orderline.protocol.validate_airspeed">
                    <button class="btn--default btn--block" (click)="navigateToAirspeedInflowValidation()">Luchtsnelheid inflow</button>
                    <button class="btn--default btn--block" (click)="navigateToAirspeedDownflowValidation()">Luchtsnelheid downflow</button>
                </ng-container>
                <ng-container *ngIf="!orderline.protocol.validate_airspeed">
                    <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_inflow" (click)="navigateToAirspeedInflowValidation()">Luchtsnelheid inflow</button>
                    <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_downflow_crossflow" (click)="navigateToAirspeedDownflowValidation()">Luchtsnelheid downflow</button>
                </ng-container>
                <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_leakage_plenum" (click)="navigateToLeakagePlenum()">Lektest Plenum</button>
                <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_leakage_hepa" (click)="navigateToLeakageHepa()">Lektest HEPA</button>
                <button class="btn--default btn--block" *ngIf="orderline.protocol.validate_leakage_hepa" (click)="navigateToComments()">Opmerkingen</button>
                <button class="btn--default btn--block btn--green" (click)="closeOrderline()">Orderregel sluiten</button>
            </div>
        </div>
    </div>
</ion-content>
