ion-content.white-bg {
  background: #ffffff;
}

.login-form-error {
  background: #ffe1e1;
  color: #333;
  padding: 15px;
  display: block;
  max-width: 315px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  animation: .4s ease-out 0s 1 expandFromTop;
  overflow: hidden;
}

.loading-spinner-wrapper {
  position: absolute;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.2);
  .spinner-wrapper {
    background: white;
    position: absolute;
    width: 200px;
    left: calc(50% - 100px);
    height: 100px;
    top: calc(50% - 50px);
    text-align: center;
    padding: 15px 5px;
    .spinner {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
    .spinner circle {
      stroke: #039CDD;
    }
  }
}

@keyframes expandFromTop {
  0% {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  100% {
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
  }
}