<ion-content class="white-bg">
  <div class="login-wrapper">
    <div class="login-left-half">
      <img src="../assets/images/logo-white.png" class="logo" alt="Telstar logo">
    </div>
    <div class="login-right-half">
      <img src="../assets/images/icon.png" alt="Telstar icon" class="icon">
      <span class="login-form-error" *ngIf="error">{{ error }}</span>
      <form #signForm="ngForm" (ngSubmit)="authenticate(signForm.value)">
        <input class="input--default input--login" type="text" name="email" ngModel placeholder="E-mailadres">
        <input class="input--default input--login" type="password"  name="password" ngModel placeholder="Wachtwoord">
        <!--<a href="#" class="link--default link--block forgot-password" text-right>Wachtwoord vergeten?</a>-->
        <button class="btn--default btn--block" type="submit"> Versturen</button>
      </form>
    </div>
  </div>
  <div class="loading-spinner-wrapper" *ngIf="pageIsLoading">
    <div class="spinner-wrapper">
      Moment geduld...
      <ion-spinner></ion-spinner>
    </div>
  </div>
</ion-content>